.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 300px;
}

.item {
    background-color: lightblue;
    font-size: 1.5rem;
    border: 1px solid black;
}

.item1 {
    grid-row: span 2;
    grid-column: span 2;
}

.item2 {
    grid-row: span 2;
}
.item3 {
    grid-column: span 2;
}
.item4 {
    grid-column: span 3;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */