.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header" 
  "sidebar-left main-content sidebar-right";
  grid-gap: 10px;
  height: 400px;

}

.header {
    grid-area: header;
    background-color: lightblue;
    padding: 10px;
}

.sidebar-left {
    grid-area: sidebar-left;
    background-color: lightgreen;
    padding: 10px;
}

.main-content {
    grid-area: main-content;
    background-color: lightgray;
    padding: 10px;
}
.sidebar-right {
    grid-area: sidebar-right;
    background-color: lightcyan;
    padding: 10px;
}