body {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  font-size: 2vw;

}

section {
  /* padding: 2em; */
  /* margin: 1em; */
  width: auto;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

#green {
  background-color: #8ffda7;
}

#orange {
  background-color: #ffc788;
  width: 20vw;
}

#yellow {
  background-color: #ffff92;
}

#red {
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  /* padding: 1em; */
  display: block;
  /* margin: 1em; */
}
