.card {
width: 20rem;
background-color: gray;
border-radius: 25px;
}

.card-title {
    display: grid;
    grid-template-columns: 4rem, 12rem, 4rem;
    grid-gap: 10px;
    grid-template-areas: 
    "circle title icon"
    "circle subtitle icon";
}

.title {
   grid-area: title;
   font-size: 1.2rem;
    min-width: 12rem;
   
}

.subtitle {
    grid-area: subtitle;
    color: white;
    min-width: 12rem;
    margin-top: -25px;
    font-size: 0.8rem;
}

.icon {
    grid-area: icon;
    font-size: 2rem;
    min-width: 3rem;
    text-align: center;
    padding-top: 1.5rem;
 }

.card-img {
width: 20rem;
}

.card-text {
 padding-left: 1rem;
 padding-bottom: 3rem;
}

.card-icons {
    padding-left: 15px;
    padding-bottom: 0px;
}



.circle {
    grid-area: circle;
    min-width: 3rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.dot {
 height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

 .cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 10px;
    padding: 1rem;
} 


@media (max-width: 375px) {
    .cards-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        grid-gap: 10px;
        padding: 1rem;
    }
}


@media (max-width: 768px) {
    .cards-section {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-row: auto;
        grid-gap: 10px;
        padding: 1rem;
    }
}