a {
    color: azure;
}

a:hover {
    color: greenyellow;
}

select {
    background-color:darkslategray;
    color: white;
}

select:hover {
    border-radius: 3px;
    border-color: azure;
}

.btn {
    background-color: darkslategray;
    color: green;
    border-color: green;
}

.btn:hover {
    background-color: green;
    color: white;
    border-width: 3px;
}

#dbtn {
    color: gray;
    background-color: darkslategray;
}

table {
    width: 50%;
    background-color: darkslategray;
    color: white;
    text-align: center;
}