.main-nav {
    width: 100%;
    background-color: darkslategray;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 1rem;
    grid-gap: 5px;
}


a {
    color: azure;
}

a:hover {
    color: greenyellow;
}

select {
    background-color:darkslategray;
    color: white;
}

select:hover {
    border-radius: 3px;
    border-color: azure;
}

.btn {
    background-color: darkslategray;
    color: green;
    border-color: green;
}

.btn:hover {
    background-color: green;
    color: white;
    border-width: 3px;
}

#dbtn {
    color: gray;
    background-color: darkslategray;
}

.main-nav #hamburger {
    display: none;
}

#myLinksHamburger {
    display: none;
  }


@media (max-width: 768px) {
    .display {
        display: none;
    }
    
    .main-nav #hamburger {
        display: inline;
    }

}