.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 70px);
    grid-template-areas: 
    "null null null null" 
    "plus minus cross divided"
    "one two three equal"
    "four five six equal"
    "seven eight nine equal"
    "zero dot ac equal";
    grid-gap: 3px; 
    text-align: center;
   justify-content: center;
    font-size: 2rem;
    background-color: black;
    border-radius: 10px;
}


.null {
    grid-area: null;
    background-color: darkslategray;
    color: white;
    text-align: right;
    padding: 10px;
    padding-top: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.plus {
    grid-area: plus;
    background-color: lightcyan;
    color: black;
    padding: 10px;
}
.minus {
    grid-area: minus;
    background-color: lightcyan;
    color: black;
    padding: 10px;
}

.cross {
    grid-area: cross;
    background-color: lightcyan;
    color: black;
    padding: 10px;
;
}
.divided {
    grid-area: divided;
    background-color: lightcyan;
    color: black;
    padding: 10px;
}
.equal {
    grid-area: equal;
    background-color: orange;
    color: black;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 100px;
}

.one {
    grid-area: one;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.two {
    grid-area: two;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.three {
    grid-area: three;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.four {
    grid-area: four;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.five {
    grid-area: five;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.six {
    grid-area: six;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.seven {
    grid-area: seven;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.eight {
    grid-area: eight;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.nine {
    grid-area: nine;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.zero {
    grid-area: zero;
    background-color: lightgray;
    color: black;
    border-bottom-left-radius: 10px;
    padding: 10px;
}
.dot {
    grid-area: dot;
    background-color: lightgray;
    color: black;
    padding: 10px;
}
.ac {
    grid-area: ac;
    background-color: lightgray;
    color: black;
    padding: 10px;
}