.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30px,1fr));
    grid-gap: 10px;
}

.img {
    background-color: lightcoral;
    padding: 10px;
    text-align: center;
}